[submodule "ap-common"]
	path = ap-common
	url = https://github.com/jewzaam/ap-common.git
[submodule "ap-move-lights"]
	path = ap-move-lights
	url = https://github.com/jewzaam/ap-move-lights.git
[submodule "ap-fits-headers"]
	path = ap-fits-headers
	url = https://github.com/jewzaam/ap-fits-headers.git
[submodule "ap-cull-lights"]
	path = ap-cull-lights
	url = https://github.com/jewzaam/ap-cull-lights.git
[submodule "ap-master-calibration"]
	path = ap-master-calibration
	url = https://github.com/jewzaam/ap-master-calibration.git
[submodule "ap-move-calibration"]
	path = ap-move-calibration
	url = https://github.com/jewzaam/ap-move-calibration.git
[submodule "legacy/brave-new-world"]
	path = legacy/brave-new-world
	url = https://github.com/jewzaam/brave-new-world.git
