name: Validate Links

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  links:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Check links
        run: make links
